.button {
	color: rgb(87, 169, 231);
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	border: none;
	border-radius: 25px;
	padding: 10px;
	font-size: 20px;
	width: 200px;
	cursor: pointer;
}
.button:disabled {
	background-color: rgb(237, 101, 169);
}
.button:hover{
	background-color: rgb(231, 238, 250);
}
